<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angelmaker.japaneseflashcards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.HomeMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UpdateWords" />
        <activity android:name=".activities.FlashCards"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.NewWord" />
        <activity android:name=".activities.EditWord" />
        <activity android:name=".activities.WordSelector"></activity>
    </application>

</manifest>